<div class="row">
    <div class="col-md-6">
        <h3>Mis pedidos</h3>
    </div>
    <div class="col-md-6 text-end">
        <app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mis pedidos</li>
            </ol>
        </nav>
    </div>
</div>

<ng-container *ngIf="_error !== null">
    <div class="alert alert-danger mt-4 ml-4 mr-4" role="alert">
        {{ _error }}
    </div>
</ng-container>

<ng-container *ngIf="_error === null">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-end">
            <app-page-order class="ms-1 me-1" [data]="_pageOrder" (evt)="onOrderClicked($event)"></app-page-order>
            <app-page-sync class="ms-1" (evt)="onSyncClicked()"></app-page-sync>
        </div>
    </div>
    <div *ngIf="_pageData?.data?.length == 0" class="text-center mt-2">
        No hay datos para mostrar
    </div>
    <ng-container *ngFor="let order of _pageData?.data" class="">
        <div class="card text-start mt-2">
            <div class="card-header">
                <div class="row">                    
                    <div class="col-6 text-start">
                        Total<br>{{ getTotal(order) | currency:'$' }}
                    </div>
                    <div class="col-6 text-end">
                        Pedido<br>#{{ order.id.toString().padStart(6, '0') }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="{{ order._cols }}">
                        <div style="padding-left: 0px;">
                            <strong>General</strong><br>
                            <div style="padding-left: 20px;">
                                Productos ({{ order.productCount }}): {{ order.productTotal | currency:'$' }}<br>
                                Costo de envío: {{ order.shippingCost | currency:'$' }}<br>
                                Propina: {{ getTip(order) | currency:'$' }}<br>
                                Total: <strong class="text-danger">{{ getTotal(order) | currency:'$' }}</strong>
                            </div>
                        </div>
                        <hr>
                        <div style="padding-left: 0px;">
                            <strong>Detalles</strong><br>
                            <div style="padding-left: 20px;">
                                Pagando con: {{ order.payingWith | currency:'$' }}<br>
                                Comentarios: {{ getComments(order) }}<br>
                                Entrega del producto: {{ order.deliveryMethod | deliveryMethod }}
                                <div style="padding-left: 20px;" *ngIf="order.address !== null">
                                    {{ getAddress(order) }}
                                </div>                                
                            </div>
                        </div>
                        <div style="padding-left: 0px;" *ngIf="order.orderStatuses === null || order.orderStatuses.length == 0">
                            <hr>
                            <strong>Estatus</strong><br>
                            <div style="padding-left: 20px;">
                                {{ getStatusFromOrder(order) }}, {{ dateService.get_longDate(order.updatedAt) }}, {{ dateService.get_time(order.updatedAt) }}
                            </div>  
                            <hr>                 
                        </div> 
                        <div style="padding-left: 0px;" *ngIf="order.orderStatuses !== null && order.orderStatuses.length > 0">
                            <hr>
                            <strong>Estatus</strong><br>
                            <div style="padding-left: 20px;">
                                <div *ngFor="let status of order.orderStatuses">
                                    {{ getStatusFromOrderStatus(order, status) }}, {{ dateService.get_longDate(status.eventAt) }}, {{ dateService.get_time(status.eventAt) }}
                                </div>
                            </div>  
                            <hr>                 
                        </div>       
                    </div>
                    <div class="{{ order._cols }}" *ngIf="order.orderElements !== null && order.orderElements.length > 0">
                        <div style="padding-left: 0px;">
                            <strong>Productos</strong><br>
                            <div style="padding-left: 20px;" *ngFor="let person of order._orderElementsGrouped">
                                <strong>{{ person.key }}</strong>                                
                                <div style="padding-left: 20px;" *ngFor="let product of person.items">
                                    {{ product.productName }} ({{ product.productQuantity }}) {{ product.productQuantity * product.productPrice | currency:'$' }}
                                </div>
                                <div style="padding-left: 20px;">
                                    Total por persona: <strong class="text-danger">{{ getTotalByPerson(person.items) | currency:'$'  }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="!order._detailsLoaded">
                        <div class="text-end mt-2">
                            <a (click)="onLoadOrderDetailsClicked($event, order)" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Creado el {{ dateService.get_longDate(order.createdAt) }}, {{ dateService.get_time(order.createdAt) }}
            </div>
        </div>
    </ng-container>
	<div class="row mt-2">
		<div class="col-md-12 text-end">				
			<app-page-pagination [pageSelected]="pageSelected" [pageSize]="pageSize" (evt_pageOption)="onPageOptionClicked($event)" (evt_pageSize)="onPageSizeClicked($event)"></app-page-pagination>
		</div>
	</div>    
</ng-container>