<div class="row">
    <div class="col-lg-8 mt-4">
        <div class="p-4">
            <div class="row">
                <div class="col-md-6">
                    <span class="fs-3">Últimos detalles</span>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <hr>
            <form *ngIf="_myForm" [formGroup]="_myForm" (ngSubmit)="onDoneClicked()" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label d-block">Entrega del producto</label>
                        <ng-container *ngFor="let deliveryMethod of _deliveryMethods; let i = index">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="deliveryMethod" id="deliveryMethod{{ i }}" value="{{ deliveryMethod.param1 }}" (click)="onDeliveryMethodClicked($event, deliveryMethod)"/>
                                <label class="form-check-label" for="deliveryMethod{{ i }}">
                                    {{ deliveryMethod.param2 }}
                                </label>
                            </div>
                        </ng-container>
                        <span *ngIf="hasError('deliveryMethod', 'required')" class="text-danger d-block">Este campo es requerido</span>
                    </div>
                    <div class="col-md-12" *ngIf="isDeliveryMethodForDeliverySelected()">
                        <div class="ps-4">            
                            <div class="form-floating">
                                <select class="form-select" formControlName="address" id="address" aria-label="Floating label select example">
                                    <option [ngValue]="null" disabled selected>Selecciona una opción</option>
                                    <option *ngFor="let address of _addresses" [value]="address.id">{{ address.name }}</option>
                                </select>
                                <label for="floatingSelect">Dirección</label>
                            </div>
                            <span *ngIf="hasError('address', 'required')" class="text-danger d-block">Este campo es requerido</span>
                            <a class="link-secondary" [routerLink]="['/my-account/addresses/create']">Crear dirección</a>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="form-control-label d-block">¿Desea dejar alguna propina al personal?</label>
                        <ng-container *ngFor="let tip of _tips; let i = index">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="tip" id="tip{{ i }}" value="{{ tip }}" (click)="onTipClicked($event, tip)"/>
                                <label class="form-check-label" for="tip{{ i }}">
                                    {{ tip }}% ({{ _cartHelper.getTip(tip, _totalProducts) | currency:'$'  }})
                                </label>
                            </div>
                        </ng-container>
                        <span *ngIf="hasError('tip', 'required')" class="text-danger d-block">Este campo es requerido</span>
                    </div>
                </div>
            </form>
        </div>       
    </div>
    <div class="col-lg-4 mt-4">
        <div class="bg-light p-4">
            <div class="text-end mb-1">
                <span class="fs-6">Total en productos: </span>
                <strong class="fs-6">{{ _totalProducts | currency:'$'  }}</strong>
                <br>
                <span class="fs-6">Costo de envío: </span>
                <strong class="fs-6">{{ _cartDetail.shippingCost | currency:'$'  }}</strong>
                <br>
                <span class="fs-6">Propina: </span>
                <strong class="fs-6">{{ _cartHelper.getTip(_cartDetail.tipPercent, _totalProducts) | currency:'$' }}</strong>
                <br>
                <span class="fs-4">Total: </span>
                <strong class="fs-4 text-danger">{{ _cartHelper.getSuperTotal(_cartDetail.tipPercent, _totalProducts, _cartDetail.shippingCost) | currency:'$'  }}</strong>
            </div>
            <div class="text-end mt-1">
                <button class="btn btn-primary" type="button" (click)="onNextStepClicked($event)">Siguiente paso</button>
            </div>
        </div> 
    </div>
</div>        