<div class="row">
	<div class="col-md-12">
		<h3>Mi cuenta</h3>
	</div>
</div>

<div class="list-group">
    <a [routerLink]="['/my-account/personal-data']" class="list-group-item list-group-item-action" aria-current="true">
        Actualizar datos personales
        <br>
        <em>Manten tus datos actualizados: nombre(s), apellido(s), número teléfonico</em>
    </a>
    <a [routerLink]="['/my-account/change-password']" class="list-group-item list-group-item-action" aria-current="true">
        Cambiar contraseña
        <br>
        <em>Puedes cambiar tu contraseña por razones de seguridad</em>
    </a>
  </div>