<div class="row">
    <div class="col-md-12 text-end">
        <app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
    </div>
</div>

<ng-container *ngIf="!_askingForData">
    <ng-container *ngIf="!_weHaveAMenu">
        <p class="text-center m-4">
            <span class="fs-1">
                Vaya, no hemos encontrado un menú
            </span>
            <br>
            <span class="fs-6">
                Poner texto del restaurante, ubicación, teléfono, etc...
            </span>
        </p>
    </ng-container>
    <ng-container *ngIf="_weHaveAMenu">
        <!-- menu -->
        <div class="m-1 text-center">        
            <span class="fs-1 d-block">{{ getMenuElement()?.menu?.name }}</span>
            <ng-container *ngIf="getMenuElement()?.menu?.description !== ''">
                <span class="fs-6 fw-light fst-italic d-block">{{ getMenuElement()?.menu?.description }}</span>
            </ng-container>        
        </div>

        <!-- categorias -->
        <ng-container *ngFor="let category of getCategoryElements()">
            <div class="m-4">
                <div class="m-2">
                    <div>
                        <span class="fs-2 d-block">{{ category.category.name }}</span>
                        <span class="text-danger fs-2 d-block">{{ !category.isVisible ? '(no visible)' : '' }}</span>
                        <ng-container *ngIf="category.category.description !== ''">
                            <span class="fs-6 fw-light fst-italic d-block">{{ category.category.description }}</span>
                        </ng-container>
                    </div>                                    
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    <ng-container *ngFor="let product of getProductElements(category.category.id)">
                        <div class="col">
                            <div class="card h-100">
                                <img *ngIf="product.image !== null" src="{{ product.image }}" class="card-img-top" alt="...">
                                <img *ngIf="product.image === null" src="./assets/common/no-image.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="fs-5">
                                            {{ product.product.name }} <strong>{{ product.product.price | currency:'$' }}</strong>                                    
                                        </span>
                                        <span class="text-danger fs-2 d-block">
                                            {{ !product.isVisible ? '(no visible)' : '' }}
                                        </span>
                                        <span *ngIf="product.product.description !== ''" class="d-block">
                                            {{ product.product.description }}
                                        </span>
                                        <span *ngIf="product.product.ingredients !== ''" class="fs-6 fw-light fst-italic d-block">
                                            Ingredientes: {{ product.product.ingredients }}
                                        </span>
                                    </p>
                                    <ng-container *ngIf="product.isAvailable">
                                        <button type="button" class="btn btn-warning" (click)="onAddToCartClicked($event, product)">Agregar al carrito</button>
                                    </ng-container>
                                </div>  
                                <ng-container *ngIf="!product.isAvailable">
                                    <div class="card-footer">
                                        <small class="text-muted">No disponible por el momento</small>
                                    </div>       
                                </ng-container> 
                            </div>                
                        </div> 
                    </ng-container>
                </div>
            </div>
        </ng-container>  
    </ng-container>
      
</ng-container>