<div class="row">
    <div class="col-md-12 text-end">
        <app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
    </div>
</div>

<ng-container *ngIf="!_isInitialLoading && !_weHaveAMenu">    
    <p class="text-center">
        <span class="fs-1">Vaya, no hemos encontrado el menú</span>
    </p>
</ng-container>
<ng-container *ngIf="!_isInitialLoading && _weHaveAMenu">
    <div class="m-1 text-center">        
        <span class="fs-1 d-block">{{ getMenuElement()?.menu?.name }}</span>
        <ng-container *ngIf="getMenuElement()?.menu?.description !== ''">
            <span class="fs-5 fw-light fst-italic d-block">{{ getMenuElement()?.menu?.description }}</span>
        </ng-container>        
    </div>

    <div *ngFor="let category of getCategoryElements()" class="m-4">
        <div class="m-2">
            <div>
                <span class="fs-2 d-block">{{ category.category.name }}</span>
                <span class="text-danger fs-2 d-block">{{ !category.isVisible ? '(no visible)' : '' }}</span>
                <ng-container *ngIf="category.category.description !== ''">
                    <span class="fs-6 fw-light fst-italic d-block">{{ category.category.description }}</span>
                </ng-container>
            </div>                                    
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
            <ng-container *ngFor="let productElement of getProductElements(category.category.id)">
                <div class="col">
                    <div class="card h-100">
                        <img *ngIf="productElement.image !== null" src="{{ productElement.image }}" class="card-img-top" alt="...">
                        <img *ngIf="productElement.image === null" src="./assets/common/no-image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <span class="fs-6">
                                    {{ productElement.product.name }} <strong>{{ productElement.product.price | currency:'$' }}</strong>                                    
                                </span>
                                <span class="text-danger fs-2 d-block">
                                    {{ !productElement.isVisible ? '(no visible)' : '' }}
                                </span>         
                            </p>
                            <ng-container *ngIf="productElement.isAvailable">
                                <button type="button" class="btn btn-warning" (click)="onAddToCartClicked($event, productElement)">                                    
                                    Ver detalles
                                </button>
                            </ng-container>
                        </div>  
                        <ng-container *ngIf="!productElement.isAvailable">
                            <div class="card-footer">
                                <small class="text-muted">No disponible por el momento</small>
                            </div>       
                        </ng-container> 
                    </div>                
                </div> 
            </ng-container>
        </div>
    </div>    
</ng-container>

<ng-container *ngIf="_modal_addProductToCart">
    <app-add-to-cart [open]="_modal_addProductToCart" [productElement]="_productElement" [lastPersonSelected]="_lastPersonSelected" [people]="_people" (evtOk)="onAddProductToCartOk($event)" (evtClose)="onAddProductToCartClose()"></app-add-to-cart>    
</ng-container>