<div class="row">
    <div class="col-md-12 text-end">
        <app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
    </div>
</div>

<ng-container *ngIf="!_isInitialLoading && !_weHaveAMenu">    
    <p class="text-center">
        <span class="fs-1">Vaya, no hemos encontrado el menú</span>
    </p>
</ng-container>
<ng-container *ngIf="!_isInitialLoading && _weHaveAMenu">
    <div class="text-center d-none d-sm-block">        
        <span class="fs-2 d-block">{{ getMenuElement()?.menu?.name }}</span>
        <ng-container *ngIf="getMenuElement()?.menu?.description !== ''" >
            <div class="d-none d-md-block">
                <span class="fs-5 fw-light fst-italic d-block">{{ getMenuElement()?.menu?.description }}</span>
            </div>
        </ng-container>        
    </div>

    <div *ngFor="let category of getCategoryElements()" class="">
        <div class="">            
            <span class="fs-3 d-block">{{ category.category.name }}</span>
            <span class="text-danger fs-2 d-block">{{ !category.isVisible ? '(no visible)' : '' }}</span>
            <ng-container *ngIf="category.category.description !== ''">
                <div class="d-none d-md-block">
                    <span class="fs-6 fw-light fst-italic d-block">{{ category.category.description }}</span>
                </div>
            </ng-container>                                         
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
            <ng-container *ngFor="let productElement of getProductElements(category.category.id)">
                <div class="col">
                    <div class="card h-100">
                        <img *ngIf="productElement.image !== null" src="{{ productElement.image }}" class="card-img-top" alt="...">
                        <img *ngIf="productElement.image === null" src="./assets/common/no-image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <span class="fs-6 d-block">{{ productElement.product.name }}</span>
                                <span class="fs-4 d-block"><strong>{{ productElement.product.price | currency:'$' }}</strong></span>  
                            </p>
                            <ng-container *ngIf="productElement.isAvailable">
                                <button type="button" class="btn btn-primary" (click)="onAddToCartClicked($event, productElement)">                                    
                                    Ver detalles
                                </button>
                            </ng-container>
                        </div>  
                        <ng-container *ngIf="!productElement.isAvailable">
                            <div class="card-footer">
                                <small class="text-muted">No disponible por el momento</small>
                            </div>       
                        </ng-container> 
                    </div>                
                </div> 
            </ng-container>
        </div>
    </div>   
    
    <div *ngIf="_configInformation != null" class="alert alert-info mt-4" role="alert">
        <i class="fa-solid fa-location-dot"></i> &nbsp; {{ _configInformation.address }} <br>
        <i class="fa-solid fa-phone"></i> &nbsp; {{ _configInformation.phone }} <br>
        <i class="fa-solid fa-calendar-days"></i> &nbsp; {{ _configInformation.openingDaysHours }} <br>
    </div>
      

</ng-container>

<ng-container *ngIf="_modal_addProductToCart">
    <app-add-to-cart [open]="_modal_addProductToCart" [productElement]="_productElement" [lastPersonSelected]="_lastPersonSelected" [people]="_people" (evtOk)="onAddProductToCartOk($event)" (evtClose)="onAddProductToCartClose()"></app-add-to-cart>    
</ng-container>