<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                Registro
            </div>
            <div class="card-body">
                <h5 class="card-title">Crea tu cuenta a continuación</h5>
                <p>"email": "oohurtado arroba gmail.com"</p>
                <p>"password": "12345678"</p>
                <p>"repetir password": "12345678"</p>
                <p>"firstName": "Oscar"</p>
                <p>"lastName": "Hurtado"</p>
                <p>"phoneNumber": "6861991605"</p>
            </div>
        </div>
    </div>
</div>