<div class="row">
	<div class="col-md-6">
		<h3>Listado de usuarios</h3>
	</div>
	<div class="col text-end">   
		<app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>     
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	</div>
	<div class="col-md-6 text-end">
		<app-page-navigation class="ms-1 me-1" [data]="_pageNavigation" (evt_home)="onHomeClicked()" (evt_options)="onCreateClicked($event)"></app-page-navigation>
		<app-page-order class="ms-1 me-1" [data]="_pageOrder" (evt)="onOrderClicked($event)"></app-page-order>
		<app-page-sync class="ms-1" (evt)="onSyncClicked()"></app-page-sync>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-bordered mt-2 mb-2">
		<thead>
			<tr>
				<th scope="col">Nombre(s)</th>
				<th scope="col">Apellido(s)</th>
				<th scope="col">Correo electrónico</th>
				<th scope="col">Rol de usuario</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of _pageData?.data">
				<td>{{ item.firstName }}</td>
				<td>{{ item.lastName }}</td>
				<td>{{ item.email }}</td>
				<td>{{ item.userRole }}</td>
			</tr>		
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-md-12 text-end">				
		<app-page-pagination [pageSelected]="pageSelected" [pageSize]="pageSize" (evt_pageOption)="onPageOptionClicked($event)" (evt_pageSize)="onPageSizeClicked($event)"></app-page-pagination>
	</div>
</div>
