<div class="row">
	<div class="col-md-6">
		<h3>Listado de usuarios</h3>
	</div>
	<div class="col text-end">   
		<app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>     
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	</div>
	<div class="col-md-6 text-end">
		<app-page-navigation class="ms-1 me-1" [data]="_pageNavigation" (evt_home)="onHomeClicked()" (evt_options)="onCreateClicked($event)"></app-page-navigation>
		<app-page-order class="ms-1 me-1" [data]="_pageOrder" (evt)="onOrderClicked($event)"></app-page-order>
		<app-page-sync class="ms-1" (evt)="onSyncClicked()"></app-page-sync>
	</div>
</div>

<pre>{{ _pageData | json }}</pre>

<div class="row">
	<div class="col-md-12 text-end">				
		<app-page-pagination [pageSelected]="pageSelected" [pageSize]="pageSize" (evt_pageOption)="onPageOptionClicked($event)" (evt_pageSize)="onPageSizeClicked($event)"></app-page-pagination>
	</div>
</div>
