<div class="row">
    <div class="col-md-6">
        <h3>Previsualizar menú</h3>
    </div>
    <div class="col-md-6 text-end">
        <app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/menu-stuff']">Cosas del menú</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/menu-stuff/menus']">Menús</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/menu-stuff/menus/builder/' + _menuId]">Construir menú</a></li>
                <li class="breadcrumb-item active" aria-current="page">Previsualizar menú</li>
            </ol>
        </nav>
    </div>
</div>

<ng-container *ngIf="_data != null && _data.length > 0">

<div>
    <div class="form-check form-switch">
        <input class="form-check-input cursor-pointer" type="checkbox" id="flexSwitchCheckDefault" [checked]="_designMode" (click)="onDesignClicked($event)" >
        <label class="form-check-label cursor-pointer" for="flexSwitchCheckDefault">Mostrar botones para diseñar el menú</label>
      </div>
</div>

    <div class="m-1 text-center">        
            <span class="fs-1 d-block">{{ getMenuElement()?.menu?.name }}</span>
            <ng-container *ngIf="getMenuElement()?.menu?.description !== ''">
                <span class="fs-6 fw-light fst-italic d-block">{{ getMenuElement()?.menu?.description }}</span>
            </ng-container>        
    </div>
    <ng-container *ngIf="_designMode">
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" title="Editar menú">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <button type="button" class="btn btn-primary" title="Agregar categorías al menú">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn btn-primary" title="Más opciones">
                    <i class="fa-solid fa-gear"></i>
                </button>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-container *ngFor="let category of getCategoryElements()">
    <div class="m-4">
        <div class="m-2">
            <div>
                <span class="fs-2">{{ category.category.name }}</span>&nbsp;<span class="text-danger fs-2">{{ !category.isVisible ? '(no visible)' : '' }}</span>
                <ng-container *ngIf="category.category.description !== ''">
                    <span class="fs-6 fw-light fst-italic d-block">{{ category.category.description }}</span>
                </ng-container>
            </div>
            <ng-container *ngIf="_designMode">
                <div class="text-start">
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" title="Editar categoría">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="Agregar productos a categoría">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="Quitar productos de categoría">
                        <i class="fa-solid fa-xmark"></i>
                    </button>                    
                    <button type="button" class="btn btn-primary" title="Más opciones">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="Mover hacia arriba">
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="Mover hacia abajo">
                        <i class="fa-solid fa-arrow-down"></i>
                    </button>
                </div>
            </div>            
        </ng-container>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <ng-container *ngFor="let product of getProductElements(category.category.id)">
                <div class="col">
                    <div class="card h-100">
                        <img *ngIf="product.image !== null" src="{{ product.image }}" class="card-img-top" alt="...">
                        <img *ngIf="product.image === null" src="./assets/common/no-image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <span class="fs-5 d-block">
                                    {{ product.product.name }} <strong>{{ product.product.price | currency:'$' }}</strong>
                                </span>
                                <span *ngIf="product.product.description !== ''" class="d-block">
                                    {{ product.product.description }}
                                </span>
                                <span *ngIf="product.product.ingredients !== ''" class="fs-6 fw-light fst-italic d-block">
                                    Ingredientes: {{ product.product.ingredients }}
                                </span>
                            </p>
                            <ng-container *ngIf="product.isAvailable">
                                <button type="button" class="btn btn-warning" (click)="onElementClicked($event)">Agregar al carrito</button>
                            </ng-container>
                        </div>  
                        <ng-container *ngIf="!product.isAvailable">
                            <div class="card-footer">
                                <small class="text-muted">No disponible por el momento</small>
                            </div>       
                        </ng-container>
                        <ng-container *ngIf="_designMode">
                            <div class="text-start">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary" title="Editar producto">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>                 
                                    <button type="button" class="btn btn-primary" title="Quitar producto de categoría">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>                    
                                    <button type="button" class="btn btn-primary" title="Más opciones">
                                        <i class="fa-solid fa-gear"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" title="Mover hacia arriba">
                                        <i class="fa-solid fa-arrow-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" title="Mover hacia abajo">
                                        <i class="fa-solid fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>                           
                        </ng-container>
                    </div>                
                </div> 
            </ng-container>
        </div>
    </div>
</ng-container>