<!-- Button trigger modal -->
<button #openModal type="button" class="btn btn-primary collapse" data-bs-toggle="modal"
    data-bs-target="#mymodal">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="mymodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    <ng-container *ngIf="element.categoryId == null">
                        Menú - Imagen
                    </ng-container>
                    <ng-container *ngIf="element.categoryId != null && element.productId == null">
                        Categoría - Imagen
                    </ng-container>   
                    <ng-container *ngIf="element.productId != null">
                        Producto - Imagen
                    </ng-container>   
                </h5>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseClicked()"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="_myForm" [formGroup]="_myForm" (ngSubmit)="onOkClicked()" autocomplete="off">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="formFile" class="form-label">Imagen</label>
                            <input formControlName="picture" class="form-control" type="file" id="formFile" (change)="onControlFileChanged($event.target)">
                            <span *ngIf="hasError('picture', 'required')" class="text-danger">Este campo es requerido</span>                            
                        </div>
                    </div>                       
                </form>
                <ng-container *ngIf="_url != null">
                    <img src="{{ _url.url }}" class="img-thumbnail" alt="...">
                </ng-container>
            </div>
            <div class="modal-footer">           
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCloseClicked()">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="onOkExtraClicked()" [disabled]="(element.image === null || element.image === '') || _isProcessing || _isProcessingExtra">
                    <span *ngIf="_isProcessingExtra"><i class="fas fa-sync fa-spin"></i>&nbsp;&nbsp;Procesando</span>
                    <span *ngIf="!_isProcessingExtra"><i class="fa-solid fa-cloud"></i>&nbsp;&nbsp;Borrar</span>                                        
                </button>                     
                <button type="button" class="btn btn-primary" (click)="onOkClicked()" [disabled]="_isProcessing || _isProcessingExtra">
                    <span *ngIf="_isProcessing"><i class="fas fa-sync fa-spin"></i>&nbsp;&nbsp;Procesando</span>
                    <span *ngIf="!_isProcessing"><i class="fa-solid fa-cloud"></i>&nbsp;&nbsp;Aceptar</span>                                        
                </button>
            </div>
        </div>
    </div>
</div>