<div class="row">
    <div class="col-md-12">
		<h3>Mis datos personales</h3>
	</div>
	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/configurations']">Configuraciones</a></li>
				<li class="breadcrumb-item active" aria-current="page">Ordenes</li>
			</ol>
		</nav>
	</div>
</div>

<div class="mt-2 mb-2 mx-auto">
    <div class="row">
        <div class="offset-md-3 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Configuraciones relacionadas a las ordenes
                </div>
                <div class="card-body">            
                    <app-processing [text]="'Cargando...'" *ngIf="_isLoading"></app-processing>
                    <form *ngIf="_myForm" [formGroup]="_myForm" (ngSubmit)="onDoneClicked()" autocomplete="off">
                        <div class="row">                     
                            
                            <div class="col-md-12 mt-3">
                                <div class="form-floating">
                                    <input formControlName="tip" type="text" class="form-control" id="tip" placeholder="Ejemplo: '0' o '0,15' o '5,20,30'">
                                    <label for="tip">Propinas en porcentaje</label>
                                </div>
                                <span *ngIf="hasError('tip', 'required')" class="text-danger d-block">Este campo es requerido</span>
                                <span *ngIf="hasError('tip', 'minlength') || hasError('tip', 'maxlength')" class="text-danger d-block">Este campo debe contener entre 1 y 100 caracteres</span>
                                <span *ngIf="hasError('tip', 'pattern')" class="text-danger d-block">&#x2022; Use uno o dos dígitos por porcentaje</span>
                                <span *ngIf="hasError('tip', 'pattern')" class="text-danger d-block">&#x2022; Use comas para separar los porcentajes, ej: '0' o '0,15' o '5,20,30'</span>
                                <span *ngIf="hasError('tip', 'pattern')" class="text-danger d-block">&#x2022; No use espacios</span>
                                <span *ngIf="hasError('tip', 'pattern')" class="text-danger d-block">&#x2022; No use el signo de porcentaje</span>
                                <span *ngIf="hasError('tip', 'pattern')" class="text-danger d-block">&#x2022; No use letras</span>
                            </div>                            
                            <div class="col-md-12 mt-3">
                                <div class="form-floating">
                                    <input formControlName="shipping" type="number" class="form-control" id="shipping" placeholder="Coto de envío">
                                    <label for="shipping">Coto de envío</label>
                                </div>
                                <span *ngIf="hasError('shipping', 'required')" class="text-danger">Este campo es requerido</span>
                                <span *ngIf="hasError('shipping', 'min')" class="text-danger">Este campo no permite valores negativos</span>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="active" (change)="onChangeStatus($event)" [checked]="_active">
                                    <label class="form-check-label" for="active">
                                        Los clientes podrán realizar compras en línea
                                    </label>
                                </div>                              
                            </div>
                            <div class="col-12 mt-3 mb-3">
                                <button type="submit" class="btn btn-primary" [disabled]="_isProcessing">
                                    <span *ngIf="_isProcessing"><i class="fas fa-sync fa-spin"></i>&nbsp;&nbsp;Procesando</span>
                                    <span *ngIf="!_isProcessing"><i class="fa-solid fa-cloud"></i>&nbsp;&nbsp;Guardar</span>
                                </button>
                            </div>
                        </div>                              
                    </form>
                    <ng-container *ngIf="_error !== null">
                        <div class="col-12">
                            <div  class="alert alert-danger ml-4 mr-4" role="alert">
                                {{ _error }}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="_error !== null">
                        <div class="col-12">
                            <div  class="alert alert-danger ml-4 mr-4" role="alert">
                                {{ _error }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
