<div class="row">
	<div class="col-md-6">
		<h3>Productos</h3>
	</div>
	<div class="col-md-6 text-end">   
		<app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
	</div>
	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/menu-stuff']">Cosas del menú</a></li>
				<li class="breadcrumb-item active" aria-current="page">Productos</li>
			</ol>
		</nav>
	</div>
</div>


<ng-container *ngIf="_error !== null">
	<div  class="alert alert-danger mt-4 ml-4 mr-4" role="alert">
		{{ _error }}
	</div>
</ng-container>

<ng-container *ngIf="_error === null">
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6 text-end">
			<app-page-create class="ms-1" (evt)="onCreateClicked($event)"></app-page-create>
			<app-page-order class="ms-1 me-1" [data]="_pageOrder" (evt)="onOrderClicked($event)"></app-page-order>
			<app-page-sync class="ms-1" (evt)="onSyncClicked()"></app-page-sync>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered mt-2 mb-2">
			<thead class="table-light">
				<tr>
					<th [width]="'1%'"></th>
					<th [width]="'25%'" scope="col">Nombre</th>
					<th [width]="'10%'" scope="col">Precio</th>
					<th scope="col">Descripción</th>
					<th scope="col">Ingredientes</th>
				</tr>
			</thead>
			<tbody>
				<tr>	
					<td *ngIf="_pageData?.data?.length == 0" colspan="5" class="text-center">
						No hay datos para mostrar
					</td>
				</tr>
				<tr *ngFor="let item of _pageData?.data">
					<td style="white-space:nowrap;">
						<div class="btn-group" role="group" aria-label="Basic mixed styles example">
							<button type="submit" class="btn btn-light border btn-sm" (click)="onUpdateClicked($event, item)">
								<i class="fa-solid fa-pen"></i>
							</button>
							<button type="button" class="btn btn-light border btn-sm" (click)="onDeleteClicked($event, item)">
								<i class="fa-solid fa-trash"></i>
							</button>										
						</div>
					</td>
					<td style="white-space:nowrap;">{{ item.name }}</td>
					<td style="white-space:nowrap; text-align: end;">{{ item.price | currency:'$' }}</td>
					<td style="white-space:nowrap;">{{ item.description }}</td>
					<td style="white-space:nowrap;">{{ item.ingredients }}</td>
				</tr>		
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md-12 text-end">				
			<app-page-pagination [pageSelected]="pageSelected" [pageSize]="pageSize" (evt_pageOption)="onPageOptionClicked($event)" (evt_pageSize)="onPageSizeClicked($event)"></app-page-pagination>
		</div>
	</div>
</ng-container>