<div class="row">
    <div class="col-md-6">
        <h3>Construir menú</h3>
    </div>
    <div class="col-md-6 text-end">
        <app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/menu-stuff']">Cosas del menú</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/menu-stuff/menus']">Menús</a></li>
                <li class="breadcrumb-item active" aria-current="page">Construir menú</li>
            </ol>
        </nav>
    </div>
</div>

<div *ngFor="let item of _data" class="card element" [class]="item.css" (mouseenter)="onMouseEnter(item)" (mouseleave)='onMouseLeave(item)'>
    <div class="card-body pt-1 pb-1">
        {{ item.text }}
        <ng-container *ngIf="item.isMouseOverElement">
            <ng-container *ngIf="item.categoryId == null && item.productId == null">
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Agregar categoría al menú"
                    (click)="onElementClicked($event, item, 'add')">
                    <i class="fa-solid fa-plus fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Actualizar imagen"
                    (click)="onElementClicked($event, item, 'image')">
                    <i class="fa-solid fa-image fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Actualizar opciones de visibilidad"
                    (click)="onElementClicked($event, item, 'visibility')">
                    <i class="fa-solid fa-eye fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Previsualizar menú"
                    (click)="onElementClicked($event, item, 'preview')">
                    <i class="fa-solid fa-utensils fa-lg"></i>
                </a>
            </ng-container>
            <ng-container *ngIf="item.categoryId != null && item.productId == null">
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Agregar producto a categoría"
                    (click)="onElementClicked($event, item, 'add')">
                    <i class="fa-solid fa-plus fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Quitar categoría del menú"
                    (click)="onElementClicked($event, item, 'remove')">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Actualizar imagen"
                    (click)="onElementClicked($event, item, 'image')">
                    <i class="fa-solid fa-image fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Actualizar opciones de visibilidad"
                    (click)="onElementClicked($event, item, 'visibility')">
                    <i class="fa-solid fa-eye fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Mover categoría hacia arriba"
                    (click)="onElementClicked($event, item, 'move-up')">
                    <i class="fa-solid fa-arrow-up fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Mover categoría hacia abajo"
                    (click)="onElementClicked($event, item, 'move-down')">
                    <i class="fa-solid fa-arrow-down fa-lg"></i>
                </a>
            </ng-container>
            <ng-container *ngIf="item.productId != null">
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Quitar producto de la categoría"
                    (click)="onElementClicked($event, item, 'remove')">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Actualizar imagen"
                    (click)="onElementClicked($event, item, 'image')">
                    <i class="fa-solid fa-image fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Actualizar opciones de visibilidad"
                    (click)="onElementClicked($event, item, 'visibility')">
                    <i class="fa-solid fa-eye fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Mover producto hacia arriba"
                    (click)="onElementClicked($event, item, 'move-up')">
                    <i class="fa-solid fa-arrow-up fa-lg"></i>
                </a>
                <a class="cursor-pointer link-secondary ms-2 me-2" title="Mover producto hacia abajo"
                    (click)="onElementClicked($event, item, 'move-down')">
                    <i class="fa-solid fa-arrow-down fa-lg"></i>
                </a>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-container *ngIf="_openModal_addElementToElement">
    <app-add-element-to-element [elements]="_elementsAvaialable" [element]="_elementClicked" [open]="_openModal_addElementToElement" (evtOk)="onModalOkClicked()" (evtClose)="onModalClosedClicked()"></app-add-element-to-element>
</ng-container>
<ng-container *ngIf="_openModal_removeElementFromElement">
    <app-remove-element-from-element [element]="_elementClicked" [open]="_openModal_removeElementFromElement" (evtOk)="onModalOkClicked()" (evtClose)="onModalClosedClicked()"></app-remove-element-from-element>
</ng-container>
<ng-container *ngIf="_openModal_updateElementVisibility">
    <app-update-element-visibility [element]="_elementClicked" [open]="_openModal_updateElementVisibility" (evtOk)="onModalOkClicked()" (evtClose)="onModalClosedClicked()"></app-update-element-visibility>
</ng-container>