<div class="row">
	<div class="col-md-6">
		<h3>Menús</h3>
	</div>
	<div class="col-md-6 text-end">   
		<app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
	</div>
	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/menu-stuff']">Cosas del menú</a></li>
				<li class="breadcrumb-item active" aria-current="page">Menús</li>
			</ol>
		</nav>
	</div>
</div>

<br><br><br><br>

<p>menus-builder works!</p>
<pre>{{ _menuId }}</pre>
<pre>{{ _menu | json }}</pre>
<pre>{{ _menuStuff | json }}</pre>
<pre>{{ _categories | json }}</pre>
<pre>{{ _products | json }}</pre>