.menu-element-margin {
    margin-left: 0px; margin-top: 1px;
}

.category-element-margin {
    margin-left: 50px; margin-top: 1px;
}

.product-element-margin {
    margin-left: 100px; margin-top: 1px;
}