<div *ngIf="data.options.length > 0" class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <ng-container *ngIf="data.options.length == 1">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button *ngIf="data.home" type="button" class="btn btn-light border" (click)="onHomeClicked($event);">
                <span><i class="fa-solid fa-house"></i></span>
            </button>   
            <button *ngIf="data.back" type="button" class="btn btn-light border" (click)="onBackClicked($event);">
                <span><i class="fa-solid fa-arrow-left"></i></span>
            </button>   
            <button type="button" class="btn btn-light border" (click)="onOptionClicked($event, 0);">
                <span><i class="fa-solid fa-plus"></i></span>
            </button>            
        </div>
    </ng-container>
    <ng-container *ngIf="data.options.length > 1"> 
        <div class="btn-group" role="group">
            <button *ngIf="data.home" type="button" class="btn btn-light border" (click)="onHomeClicked($event);">
                <span><i class="fa-solid fa-house"></i></span>
            </button>   
            <button *ngIf="data.back" type="button" class="btn btn-light border" (click)="onBackClicked($event);">
                <span><i class="fa-solid fa-arrow-left"></i></span>
            </button>   
            <button id="btn_orderGroup" type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span><i class="fa-solid fa-plus"></i></span>&nbsp;
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btn_orderGroup">                
                <li *ngFor="let item of data.options; let i = index;">
                    <hr *ngIf="item.divider" class="dropdown-divider">
                    <a *ngIf="!item.divider" class="dropdown-item cursor-pointer" (click)="onOptionClicked($event, i)">{{ item.text }}</a>
                </li>
            </ul>
        </div>
    </ng-container>
</div>  