<div class="mt-2 mb-2 mx-auto" style="width: 400px;">
    <div class="card">
        <div class="card-header">
            Cambiar contraseña
        </div>
        <div class="card-body">
            <h6 class="card-title">Se le pedirá que inicie sesión nuevamente</h6>
            <form *ngIf="_myForm" [formGroup]="_myForm" (ngSubmit)="onDoneClicked()" autocomplete="off">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input formControlName="currentPassword" type="password" class="form-control" id="currentPassword" placeholder="Contraseña actual">
                            <label for="password">Contraseña actual</label>
                        </div>
                        <span *ngIf="hasError('currentPassword', 'required')" class="text-danger">Este campo es requerido</span>
                        <span *ngIf="hasError('currentPassword', 'minlength') || hasError('currentPassword', 'maxlength')" class="text-danger">Este campo debe contener entre 3 y 100 caracteres</span>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Contraseña actual">
                            <label for="password">Contraseña nueva</label>
                        </div>
                        <span *ngIf="hasError('newPassword', 'required')" class="text-danger">Este campo es requerido</span>
                        <span *ngIf="hasError('newPassword', 'minlength') || hasError('newPassword', 'maxlength')" class="text-danger">Este campo debe contener entre 3 y 100 caracteres</span>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input formControlName="repeatNewPassword" type="password" class="form-control" id="repeatNewPassword" placeholder="Repetir contraseña">
                            <label for="repeatNewPassword">Repetir contraseña nueva</label>
                        </div>
                        <span *ngIf="hasError('repeatNewPassword', 'required')" class="text-danger">Este campo es requerido</span>
                        <span *ngIf="hasError('repeatNewPassword', 'mustMatch')" class="text-danger">Este campo debe contener entre 3 y 100 caracteres</span>
                    </div>                 
                    <div class="col-12 mt-3 mb-3">
                        <button type="submit" class="btn btn-primary" [disabled]="_isProcessing">
                            <span *ngIf="_isProcessing"><i class="fas fa-sync fa-spin"></i>&nbsp;&nbsp;Procesando</span>
                            <span *ngIf="!_isProcessing"><i class="fa-solid fa-cloud"></i>&nbsp;&nbsp;Guardar</span>
                        </button>
                    </div>
                    <ng-container *ngIf="_error !== null">
                        <div class="col-12">
                            <div  class="alert alert-danger ml-4 mr-4" role="alert">
                                {{ _error }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
</div>