<div class="row">
	<div class="col-md-12">
		<h3>Mi cuenta</h3>
	</div>
    <div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
				<li class="breadcrumb-item active" aria-current="page">Mi cuenta</li>
			</ol>
		</nav>
	</div>
</div>

<div class="list-group">
    <ng-container *ngIf="isUserCustomer()">
        <a [routerLink]="['/my-account/my-orders']" class="list-group-item list-group-item-action disabled" aria-current="true">
            Mis <strong>ordenes</strong>
            <br>
            <em>Revisa el progreso de tus pedidos</em>                        
        </a>
    </ng-container>
    <ng-container *ngIf="isUserCustomer()">
        <a [routerLink]="['/my-account/addresses/list']" class="list-group-item list-group-item-action" aria-current="true">
            Mis <strong>direcciones</strong>
            <br>
            <em>Manten actualizada tus direcciones</em>
        </a>
    </ng-container>    
    <ng-container>
        <a [routerLink]="['/my-account/update-personal-data']" class="list-group-item list-group-item-action" aria-current="true">
            Actualizar <strong>datos personales</strong>
            <br>
            <em>Manten tus datos actualizados: nombre(s), apellido(s), número teléfonico</em>
        </a>
    </ng-container>
    <ng-container>
        <a [routerLink]="['/my-account/change-password']" class="list-group-item list-group-item-action" aria-current="true">
            Cambiar <strong>contraseña</strong>
            <br>
            <em>Puedes cambiar tu contraseña por razones de seguridad</em>
        </a>
    </ng-container>
  </div>