<div class="row">
    <div class="col-md-6">
        <h3>Mis pedidos</h3>
    </div>
    <div class="col-md-6 text-end">
        <app-processing [text]="'Procesando...'" *ngIf="_isProcessing"></app-processing>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mis pedidos</li>
            </ol>
        </nav>
    </div>
</div>

<ng-container *ngIf="_error !== null">
    <div class="alert alert-danger mt-4 ml-4 mr-4" role="alert">
        {{ _error }}
    </div>
</ng-container>

<ng-container *ngIf="_error === null">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-end">
            <app-page-order class="ms-1 me-1" [data]="_pageOrder" (evt)="onOrderClicked($event)"></app-page-order>
            <app-page-sync class="ms-1" (evt)="onSyncClicked()"></app-page-sync>
        </div>
    </div>
    <div *ngIf="_pageData?.data?.length == 0" class="text-center mt-2">
        No hay datos para mostrar
    </div>
    <ng-container *ngFor="let item of _pageData?.data" class="">
        <div class="card text-start mt-2">
            <div class="card-header">
                <div class="row">                    
                    <div class="col-6 text-start">
                        Total<br>$158.00
                    </div>
                    <div class="col-6 text-end">
                        Pedido<br>#000027
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        Productos (7): $298.00<br>
                        Costo de envío: $30.00<br>
                        Propina: $22.00<br>
                        Total: $350.00 
                        <hr>
                        Pagando con: $400.00<br>
                        Comentarios: bla bla<br>
                        Entrega del producto: (enviar a direccion 'casa'/entregar en restaurante)          
                        <hr>
                        Estatus<br>
                        &nbsp;&nbsp;&nbsp;Entregado 14/02/24 11:21 AM<br>
                        &nbsp;&nbsp;&nbsp;En proceso 14/02/24 11:21 AM<br>
                        &nbsp;&nbsp;&nbsp;Empezado 14/02/24 11:09 AM<br>   
                        <hr>
                    </div>
                    <div class="col-md-6">                      
                        Productos<br>
                            &nbsp;&nbsp;&nbsp;Oscar<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coca Cola (1) $25.00<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total por persona: $25.00<br>
                            &nbsp;&nbsp;&nbsp;Franco<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coca Cola (1) $25.00<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Torta de carne asada(1) $50.00<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total por persona: $75.00<br>
                        <hr>
                    </div>
                    <div class="col-12">
                        <div class="text-end">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                Entregado 14/02/24 11:21 AM
            </div>
        </div>
    </ng-container>
	<div class="row mt-2">
		<div class="col-md-12 text-end">				
			<app-page-pagination [pageSelected]="pageSelected" [pageSize]="pageSize" (evt_pageOption)="onPageOptionClicked($event)" (evt_pageSize)="onPageSizeClicked($event)"></app-page-pagination>
		</div>
	</div>    
</ng-container>

<pre>{{ _pageData | json }}</pre>