<!-- Button trigger modal -->
<button #openModal type="button" class="btn btn-primary collapse" data-bs-toggle="modal"
    data-bs-target="#removeElementToElement">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="removeElementToElement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    <ng-container *ngIf="element.productId == null">
                        Quitar categorías del menú
                    </ng-container>
                    <ng-container *ngIf="element.productId != null">
                        Quitar productos de la categoría
                    </ng-container>
                </h5>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseClicked()"></button>
            </div>
            <div class="modal-body">
                <strong class="d-block">{{ element.text }}</strong>                
                <ng-container *ngIf="element.productId == null">
                    ¿Deseas quitar la categoría del menú?
                </ng-container>
                <ng-container *ngIf="element.productId != null">
                    ¿Deseas quitar el producto de la categoría?
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCloseClicked()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onOkClicked()" [disabled]="_isProcessing">
                    <span *ngIf="_isProcessing"><i class="fas fa-sync fa-spin"></i>&nbsp;&nbsp;Procesando</span>
                    <span *ngIf="!_isProcessing"><i class="fa-solid fa-cloud"></i>&nbsp;&nbsp;Aceptar</span>                                        
                </button>
            </div>
        </div>
    </div>
</div>