<ng-container *ngIf="isUserAdmin()">
    <app-navbar-admin></app-navbar-admin>
</ng-container>

<ng-container *ngIf="isUserBoss()">
    <app-navbar-boss></app-navbar-boss>
</ng-container>

<ng-container *ngIf="isUserClient()">
    <app-navbar-client></app-navbar-client>
</ng-container>

<ng-container *ngIf="isUserAnon()">
    <app-navbar-anon></app-navbar-anon>
</ng-container> 

<!-- 
<div class="mt-4 mb-4 ">
    <img src="assets/bisgetti/bisgetti.png" class="mx-auto d-block" width="50%" alt="image">
</div> 
-->

<!-- <app-navbar-admin></app-navbar-admin>
<app-navbar-boss></app-navbar-boss>
<app-navbar-client></app-navbar-client>
<app-navbar-anon></app-navbar-anon> -->