
<div class="mx-auto" style="width: 400px;">
    <div class="card">
        <div class="card-header">
            Recuperar contraseña
        </div>
        <div class="card-body">
            <h5 class="card-title">Te enviaremos un correo electrónico para continuar con el proceso</h5>
            <form *ngIf="_myForm" [formGroup]="_myForm" (ngSubmit)="onDoneClicked()" autocomplete="off">
                <div class="row">                                  
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Correo electrónico">
                            <label for="email">Correo electrónico</label>
                        </div>
                        <span *ngIf="hasError('email', 'emailInUse')" class="text-danger">El correo electrónico se encuentra en uso</span>
                        <span *ngIf="hasError('email', 'email') || hasError('email', 'required')" class="text-danger">Este campo es requerido</span>
                        <span *ngIf="hasError('email', 'maxlength') || hasError('email', 'minlength')" class="text-danger">Este campo debe contener entre 3 y 100 caracteres</span>
                    </div>       
                    <div class="col-12 mt-3 mb-3">
                        <button type="submit" class="btn btn-primary" [disabled]="_isProcessing">
                            <span *ngIf="_isProcessing"><i class="fas fa-sync fa-spin"></i>&nbsp;&nbsp;Procesando</span>
                            <span *ngIf="!_isProcessing"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Iniciar proceso</span>
                        </button>
                    </div>
                </div>                    
            </form>
            <ng-container *ngIf="_error !== null">
                <div class="col-12">
                    <div  class="alert alert-danger ml-4 mr-4" role="alert">
                        {{ _error }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>    
    <div class="text-center mt-4">
        ¿No tienes una cuenta? <a class="link-secondary" [routerLink]="['/access/signup']">Registrarse</a>
        <br>
        ¿Has olvidado tu contraseña? <a class="link-secondary" [routerLink]="['/access/password-recovery']">Recuperar cuenta</a>
    </div>
</div>