<div class="text-end">
    &nbsp;<app-processing *ngIf="_isProcessing"></app-processing>
</div>
<ul class="nav nav-tabs">
    <li *ngFor="let tabLabel of _tabLabels, let _i_ = index" class="nav-item">
        <a class="nav-link"
            [ngClass]="{ 'link-dark cursor-pointer': _i_ < _tabCurrent, 'active link-info': _i_ == _tabCurrent, 'disabled': _i_ > _tabCurrent }"
            aria-current="page" (click)="onTabClicked($event, _i_)">
            <span class="badge"
                [ngClass]="{ 'bg-dark': _i_ < _tabCurrent, 'bg-info': _i_ == _tabCurrent, 'bg-secondary': _i_ > _tabCurrent }">{{
                _i_ + 1 }}</span>
            &nbsp;
            <span
                [ngClass]="{ 'text-dark': _i_ < _tabCurrent, 'text-info': _i_ == _tabCurrent, 'text-secondary': _i_ > _tabCurrent }">
                <i class="fa-solid" [class]="_tabIcons[_i_]"></i>
            </span>
            <span class="md-lg-only"
                [ngClass]="{ 'text-dark': _i_ < _tabCurrent, 'text-info': _i_ == _tabCurrent, 'text-secondary': _i_ > _tabCurrent }">&nbsp;{{
                tabLabel }}</span>
        </a>
    </li>
</ul>

<ng-container *ngIf="_tabCurrent == 0">
    <app-cart-tab-products  (evtCart)="evtCart($event)" (evtProcessing)="evtProcessing($event)" (evtError)="evtError($event)" (evtNextStep)="evtNextStep()"></app-cart-tab-products>
</ng-container>