<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link link-dark" aria-current="page" href="#">
            <span class="badge bg-dark">1</span> 
            &nbsp;
            <span class="text-dark">
                <i class="fa-solid fa-cart-shopping"></i>
            </span>            
            <span class="md-lg-only">&nbsp;Carrito</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active link-info" href="#">
            <span class="badge bg-info">2</span>
            &nbsp;
            <span class="text-info">
                <i class="fa-solid fa-location-dot"></i>
            </span>
            <span class="md-lg-only text-info">&nbsp;Dirección</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">
            <span class="badge bg-secondary">3</span> 
            &nbsp;
            <span class="text-secondary">
                <i class="fa-solid fa-list-check"></i>
            </span>
            <span class="md-lg-only">&nbsp;Últimos detalles</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            <span class="badge bg-secondary">4</span> 
            &nbsp;
            <span class="text-secondary">
                <i class="fa-solid fa-truck-fast"></i>
            </span>
            <span class="md-lg-only">&nbsp;Confirmación y Envío</span>
        </a>
    </li>
</ul>

<!-- Carrito / Dirección / Últimos detalles / Confirmación y Envío -->