<!-- Button trigger modal -->
<button #openModal type="button" class="btn btn-primary collapse" data-bs-toggle="modal"
    data-bs-target="#addElementToElement">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="addElementToElement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ _textTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onCloseClicked()"></button>
            </div>
            <div class="modal-body">
                <strong>{{ _textDescription }}</strong>                
                <div class="form-check" *ngFor="let item of elements">
                    <input class="form-check-input" type="checkbox" value="{{ item.param1 }}" id="id{{ item.param1 }}" (change)="onChangeStatus($event)">
                    <label class="form-check-label" for="id{{ item.param1 }}">
                        {{ item.param2}}
                    </label>
                </div>
                <span *ngIf="elements.length == 0">{{ _textNoData }}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCloseClicked()">{{
                    _textBtnClose }}</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onOkClicked()">{{
                    _textBtnOk }}</button>
            </div>
        </div>
    </div>
</div>