<div class="row">
    <div class="col-md-12">
		<h3>Mis datos personales</h3>
	</div>
	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/my-account']">Mi cuenta</a></li>
				<li class="breadcrumb-item active" aria-current="page">Mis datos personales</li>
			</ol>
		</nav>
	</div>
</div>

<div class="mt-2 mb-2 mx-auto" style="width: 400px;">
    <div class="card">
        <div class="card-header">
            Manten tus datos actualizados
        </div>
        <div class="card-body">            
            <app-processing [text]="'Cargando...'" *ngIf="_isLoading"></app-processing>
            <form *ngIf="_myForm" [formGroup]="_myForm" (ngSubmit)="onDoneClicked()" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <strong>Correo electrónico</strong><br>
                            {{ _user?.email }}
                        </p>
                    </div>                       
                    <div class="col-md-6 mt-3">
                        <div class="form-floating">
                            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Nombre(s)">
                            <label for="firstName">Nombre(s)</label>
                        </div>
                        <span *ngIf="hasError('firstName', 'required')" class="text-danger">Este campo es requerido</span>
                        <span *ngIf="hasError('firstName', 'minlength') || hasError('firstName', 'maxlength')" class="text-danger">Este campo debe contener entre 3 y 50 caracteres</span>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-floating">
                            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Apellido(s)">
                            <label for="lastName">Apellido(s)</label>
                        </div>
                        <span *ngIf="hasError('lastName', 'required')" class="text-danger">Este campo es requerido</span>
                        <span *ngIf="hasError('lastName', 'minlength') || hasError('lastName', 'maxlength')" class="text-danger">Este campo debe contener entre 3 y 50 caracteres</span>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-floating">
                            <input formControlName="phoneNumber" type="tel" class="form-control" id="phoneNumber" placeholder="Número telefónico" maxlength="10">
                            <label for="phoneNumber">Número telefónico</label>
                        </div>
                        <span *ngIf="hasError('phoneNumber', 'required')" class="text-danger">Este campo es requerido</span>
                        <span *ngIf="hasError('phoneNumber', 'minlength') || hasError('phoneNumber', 'maxlength')" class="text-danger">Este campo debe contener 10 caracteres</span>
                    </div> 
                    <div class="col-12 mt-3 mb-3">
                        <button type="submit" class="btn btn-primary" [disabled]="_isProcessing">
                            <span *ngIf="_isProcessing"><i class="fas fa-sync fa-spin"></i>&nbsp;&nbsp;Procesando</span>
                            <span *ngIf="!_isProcessing"><i class="fa-solid fa-cloud"></i>&nbsp;&nbsp;Guardar</span>
                        </button>
                    </div>
                </div>
            </form>
            <ng-container *ngIf="_error !== null">
                <div class="col-12">
                    <div  class="alert alert-danger ml-4 mr-4" role="alert">
                        {{ _error }}
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="_error !== null">
                <div class="col-12">
                    <div  class="alert alert-danger ml-4 mr-4" role="alert">
                        {{ _error }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
